<a class="whatsapp" target="_blank" href="https://wa.me/201212227833">واتساب</a>
<footer id="contact" class="footer"><div><img src="/public/images/logo.png"><h3>Jorero</h3><p>Wear your mood</p></div><p>متخصصين في تصنيع وبيع الملابس الرجالي والحريمي والأطفالي. المصنع والمحل في مكان واحد.</p><p>العنوان: ٩ شارع محمد رشاد شفيق السيوف شماعه، خلف قرية عبد الوهاب للمشويات</p><p>واتساب: 01212227833 | تليفون: 01016002162</p></footer><script src="/public/js/main.js"></script></body></html>
