PORT=3000 # local only; Render provides PORT automatically
MONGODB_URI=mongodb+srv://jorero:jorerojorero@cluster0.uncc9nc.mongodb.net/?appName=Cluster0
SESSION_SECRET=024f15af-bcb5-4136-8cf9-c3c7c258e8d0
ADMIN_USERNAME=admin
ADMIN_PASSWORD=12345



# Cloudinary - required for permanent image uploads on Render
CLOUDINARY_CLOUD_NAME=da7vjzdja
CLOUDINARY_API_KEY=jorero
CLOUDINARY_API_SECRET=4n4UXt8Oe2l-fYXIpixa50_oMts
